/* ==========================
   基本設定
   ========================== */
body {
    font-family: 'M PLUS\ 1p','Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue','sans-serif';
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    min-width: 1200px;
    color: #333;
}

/* ==========================
   見出しのスタイル
   ========================== */
h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: #3200FF;
}

h2, h3 {
    color: #3200FF;
}

h3 {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 16px;
}

/* ==========================
   バナーのスタイル
   ========================== */
.banner {
    background-color: #3200FF;
    color: white;
    text-align: left;
    padding: 15px 30px;
    font-size: 18px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.banner .menu {
    position: absolute;
    right: 60px; /* Adjusted from 30px to 50px */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    background-color: #3200FF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.banner_title {
    cursor: pointer;
}

.menu-content {
    display: none;
    position: absolute;
    right: 65px;
    top: 85%;
    background-color: white;
    color: black;
    border: 1px solid #ddd;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    cursor: pointer;
    border-radius: 7px;
}

.menu-content a {
    display: block;
    padding: 11px 20px;
    padding-right: 30px;
    text-decoration: none;
    color: black;
    font-size: 1em;
}

.menu-content a:hover {
    background-color: #f1f1f1;
    border-radius: 7px;
}

.menu-content {
    border-top: 1px solid #ddd;
    margin: 5px 0;
}

.separator {
    border-top: 1px solid #ddd;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    padding-top: 10px;
}

/* ==========================
   フィルタセクション
   ========================== */
.filters {
    width: 20%;
    padding: 5px 15px 15px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: 20px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filters select,
.filters input[type="text"],
.filters input[type="checkbox"],
.filters input[type="radio"] {
    font-size: 14px;
    width: auto;
    accent-color: #3200FF;
    vertical-align: middle;
    margin: 5px 0;
}

.filters input[type="checkbox"],
.filters input[type="radio"] {
    margin-right: 3px;
}

.filters button[type="button"] {
    background-color: #3200FF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 5px;
}

.filters button[type="button"]:hover {
    background-color: #1a0080;
}

.filters button[type="button"].reset {
    background-color: gray;
    color: white;
}

.filters button[type="button"].reset:hover {
    background-color: darkgray;
}

.filters .possession-filter {
    margin-top: 10px;
}

.filters label[for="sort-id"] {
    display: block;
    margin-top: 10px;
}

.filters .sort-order {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.filters .sort-order label {
    margin-right: 10px;
}

/* ==========================
   テーブルセクション
   ========================== */
.table-container {
    width: 75%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    text-align: center;
    font-family: 'M PLUS\ 1p','Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue','sans-serif';
}

th, td {
    border: 2px solid #ddd;
    padding: 8px;
    white-space: nowrap;
    font-size: 14px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.hidden {
    display: none;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3200FF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: none;
    border-radius: 5px;
}

#scrollToTopBtn:hover {
    background-color: #1a0080;
}

h2 {
    position: relative;
    padding-left: 15px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 7px;
}

h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 100%;
    background-color: #3200FF;
}

/* ==========================
   ポップアップ関連
   ========================== */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 2;
    width: 500px;
    max-height: 70%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
    border-radius: 15px;
    overflow-y: auto;
    animation: fadeIn 0.3s ease-in-out;
}

.popup::-webkit-scrollbar {
    display: none;
  }

.popup-header {
    background-color: #3200FF;
    color: white;
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popup-content {
    padding: 20px;
    text-align: left;
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

.popup-close {
    background-color: #3200FF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: sticky;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.popup-close:hover {
    background-color: #CC0000;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#no_br {
    display: inline-block;
}

.hint-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #3200FF;
    color: white;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 5px;
}

.hint-popup {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 3;
    border-radius: 5px;
    max-width: max-content;
}
.news-content {
    text-align: left;
}

a.idol_link {
    vertical-align: middle; /* アイコンを中央揃え */
    text-decoration: none;
    color: black;
    transition: color 0.3s; /* ホバー時のアニメーション */
}

a:hover.idol_link {
    text-decoration: underline;
    color: gray; /* ホバー時の色変更 */
}

.search-bar-container {
    position: relative;
    width: calc(100% - 60px);
    margin: 0px 30px 0 30px; /* Adjusted for fixed banner */
}

.search-bar {
    width: 100%;
    padding: 10px 10px 10px 35px; /* Adjusted for icon */
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('image/m_虫眼鏡.jpg') no-repeat center center;
    background-size: contain;
}

.menu_icon {
    width: 17px;
    height: auto;
    position: relative;
    right: 8px;
    top: 2px;
}

.trend-vocal {
    color: #FF469D;
}

.trend-dance {
    color: #3ABAFF;
}

.trend-visual {
    color: #FFA900;
}

.top-container {
    padding-top: 65px;
}

#possession-check, #possession-export, #possession-import {
    display: none;
}

/* 傾向・タイプ表示のコントロール */
.icon {
    display: none;
}

.idol_image {
    width: 60px;
    height: auto;
}

.yell_icon {
    width: 50px;
    height: auto;
}

/* ==========================
   メディアクエリ（レスポンシブ対応）
   ========================== */
@media screen and (max-width: 768px) {
    body {
        min-width: 100%;
    }

    .banner {
        text-align: left; /* Change text alignment to left */
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .banner .menu {
        right: 10px;
    }

    .menu {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .container {
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 5px;
        padding-top: 0px;
    }

    .filters {
        width: 100%;
        margin: 0px;
        padding: 10px;
    }

    .table-container {
        width: 100%;
        overflow-x: auto;
        margin: 0px;
        padding: 10px;
        margin-top: 10px;
    }

    .top-container {
        padding-top: 0px;
    }

    table {
        width: 100%;
    }

    th, td {
        font-size: 11px;
        padding: 3px;
    }

    .possession-buttons {
        right: 10px;
        left: auto;
        transform: none;
        flex-direction: column;
        gap: 5px;
    }

    .possession-buttons button {
        width: 100%;
        padding: 10px;
    }

    #scrollToTopBtn {
        display: none;
        bottom: 10px;
        right: 10px;
        padding: 5px 10px;
    }

    .popup, .export-popup, .import-popup, .settings-popup {
        width: 90%;
        overflow-y: auto;
        padding-bottom: 3%;
    }

    .popup-header {
        position: sticky;
        top: 0;
    }

    .popup-close {
        position: sticky;
        bottom: 0;
    }

    .search-bar-container {
        width: 95%; /* Increase width for mobile */
        margin: 55px auto 0 auto; /* Center align for mobile */
    }

    .yell_icon {
        width: 30px;
        height: auto;
    }

    .idol_image {
        width: 55px;
        height: auto;
    }

    /* 傾向・タイプ表示のコントロール */
    .text {
        display: none;
    }
    .icon {
        display: inline;
        width: 28px;
        height: auto;
    }
}

