body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-width: 1200px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.banner {
    background-color: #3200FF;
    color: white;
    text-align: left;
    padding: 10px 20px;
    font-size: 24px;
    position: relative;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-column {
    flex: 1;
    text-align: center;
    padding-right: 10px;
}

.right-column {
    flex: 2;
    padding-left: 20px;
    padding-right: 20px;;
    background-color: #fff;
    border: 1px solid #fff;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 10px;
    table-layout: fixed;
}

.basic-info-table, .status-table, .live-skill-table {
    width: 100%;
    table-layout: fixed;
}

th,td.basic-info-table, th,td.status-table {
    font-size: 12px;
}

th, td {
    border: 1px solid #ddd;
    padding: 4px;
    word-wrap: break-word;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

.br-sp {
    display: none;
}

@media (max-width: 768px) {
    body {
        min-width: 100%;
    }

    .container {
        flex-direction: column;
        padding: 10px;
    }

    .left-column, .right-column {
        flex: none;
        width: 100%;
    }

    table {
        font-size: 8px;
        min-width: 100%;
    }

    th, td {
        padding: 4px;
    }

    .banner {
        font-size: 18px;
        padding: 5px 10px;
        width: 105%;
    }

    h1 {
        font-size: 25px;
    }

    .br-sp {
        display: block;
    }

    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}