body {
    font-family: 'M PLUS\ 1p','Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue','sans-serif';
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    min-width: 1200px;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: #3200FF;
}

.banner {
    background-color: #3200FF;
    color: white;
    text-align: left;
    padding: 15px 30px;
    font-size: 1.5em;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.back-button {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: #3200FF;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #3200FF;
}

.back-button:hover {
    background-color: #3200FF;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 70px; /* Adjusted for fixed banner */
}

.left-column {
    flex: 1;
    text-align: center;
    padding-right: 20px;
}

.right-column {
    flex: 2;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 0.9em;
    table-layout: fixed;
}

.basic-info-table, .status-table, .live-skill-table {
    width: 100%;
    table-layout: fixed;
}

th, td {
    border: 2px solid #ddd;
    padding: 10px;
    word-wrap: break-word;
}

th {
    background-color: #f2f2f2;
    text-align: left;
    font-weight: bold;
}

.br-sp {
    display: none;
}

.banner_title {
    cursor: pointer;
}

.table_details {
    text-align: right;
    margin-top: -15px;
}

hr {
    border-top: 2px dashed #333;
}

a.idol_link {
    color: black;
    text-decoration: none;
    border-bottom: 1px dashed black;
}

a:hover.idol_link  {
    background-color: #ddd;
    border-bottom:none;
}

@media (max-width: 768px) {
    body {
        min-width: 100%;
    }

    .container {
        flex-direction: column;
        padding: 10px;
        padding-top: 45px; /* Adjust padding to avoid overlap */
    }

    .left-column, .right-column {
        flex: none;
        width: 100%;
    }

    table {
        min-width: 100%;
    }

    th, td {
        padding: 8px;
        font-size: 0.75em;
    }

    .banner {
        text-align:left; /* Change text alignment to left */
        font-size: 1.2em;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    .br-sp {
        display: block;
    }

    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.2em;
    }

    .back-button {
        display: none;
    }

    .skill-details {
        font-size: 0.75em;
    }

    .table_details{
        font-size: 0.75em;
    }
}