/* 全体のスタイル */
body {
    font-family: 'M PLUS 1p', 'Segoe UI', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    min-width: 1200px;
    color: #333;
    line-height: 1.6;
}

/* バナー */
.banner {
    background-color: #3200FF;
    color: white;
    text-align: left;
    padding: 15px 30px;
    font-size: 18px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.back-button {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: #3200FF;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #3200FF;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
    background-color: #3200FF;
    color: white;
}

/* テーブル */
table {
    border-collapse: collapse;
    font-size: 14px;
    table-layout: fixed;
    width: 100%;
}

th, td {
    border: 2px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
}

th {
    color: white;
    text-align: left;
    font-weight: bold;
    position: sticky;
    top: 0;
}

th.sortable {
    cursor: pointer;
}

th.sortable::after {
    content: ' ▼';
    color: #ccc;
}

th.sortable.sorted::after {
    color: #ff3576;
}

th.sortable.sorted-asc::after {
    content: ' ▲';
    color: #35b3ff;
}

/* その他のスタイル */
.br-sp {
    display: none;
}

.banner_title {
    cursor: pointer;
}

.idol_names {
    text-align: left !important;
    background-color: #def;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3200FF;
    color: white;
    border: none;
    padding: 12px 15px;
    cursor: pointer;
    display: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

/* ランキングページ全体 */
.ranking-page-container {
    display: flex;
    margin-top: 60px;
}

/* サイドバー */
.ranking-sidebar {
    width: 30%;
    background-color: #f0f0f0;
    padding: 20px;
    border-right: 2px solid black;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.ranking-sidebar h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #444;
    padding-bottom: 5px;
    text-align: center;
    background-color: white;
}

.ranking-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ranking-sidebar ul li {
    margin-bottom: 10px;
}

.ranking-sidebar ul img, .idol_names img {
    vertical-align: middle;
    width: 60px;
    margin-right: 10px;
}

.ranking-sidebar ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.ranking-sidebar ul li a:hover {
    text-decoration: underline;
    color: gray;
}

/* ランキングテーブル */
.ranking-table-container {
    width: 75%;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.ranking-table {
    width: auto;
    margin: 0 auto;
    overflow: hidden;
}

.ranking-table th, .ranking-table td {
    padding: 9px 10px;
    text-align: center;
    white-space: nowrap;
}

.ranking-table th {
    background-color: #ddd;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.ranking-table td {
    background-color: #ffffff;
    color: #333;
}

.ranking-table tr:nth-child(even) td {
    background-color: #f7f7f7;
}

a.idol_link {
    vertical-align: middle;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

a:hover.idol_link {
    text-decoration: underline;
    color: gray;
}

/* 特定列のスタイル */
.ranking-table th:nth-child(3),
.ranking-sidebar h3:nth-of-type(1),
.ranking-sidebar h3:nth-of-type(2),
.ranking-sidebar h3:nth-of-type(3) {
    color: #FF469D;
}

.ranking-table th:nth-child(4),
.ranking-sidebar h3:nth-of-type(4),
.ranking-sidebar h3:nth-of-type(5),
.ranking-sidebar h3:nth-of-type(6) {
    color: #3ABAFF;
}

.ranking-table th:nth-child(5),
.ranking-sidebar h3:nth-of-type(7),
.ranking-sidebar h3:nth-of-type(8),
.ranking-sidebar h3:nth-of-type(9) {
    color: #FFA900;
}

/* メディアクエリ */
@media (max-width: 768px) {
    body {
        min-width: 100%;
    }

    table {
        display: block;
        font-size: 11px;
        font-weight: bold;
    }

    .idol_icon, .back-button, .ranking-sidebar, .ranking-table th:nth-child(6), .ranking-table td:nth-child(6), .idol_names img {
        display: none;
    }

    th, td {
        border: 1.8px solid #ddd;
    }

    .banner {
        text-align: left;
        padding: 10px 0;
    }

    h1 {
        font-size: 1.5em;
    }

    #scrollToTopBtn {
        bottom: 10px;
        right: 10px;
        padding: 5px 10px;
    }

    .ranking-table th, .ranking-table td {
        padding: 5px 1px;
    }

    .ranking-table-container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .ranking-table {
        width: fit-content;
        margin: 0;
        padding: 0;
    }
}